.weather-app-form {
  margin: 10px;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
  max-width: 600px;
  margin: 10px auto;
}
h1,
h2,
h3,
h5 {
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  margin: 0 auto;
  width: 300px;
  padding: 6px;
  border: 3px solid rgb(143, 147, 151);
  background: rgb(234, 241, 248);
}

.location-button {
  font-size: 20px;
  background-color: lightblue;
  display: block;
  margin: auto 5px;
  border-radius: 5px;
}
.dateTime {
  font-weight: 100;
}

h2 {
  background: rgb(217, 232, 249);
  border: 3px solid rgb(143, 147, 151);
  display: block;
  margin: 0 auto;
  width: 130px;
}

#temperature {
  color: rgb (33, 33, 33);
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.units {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: -15px;
  text-align: center;
}
.fahrenheit-link {
  transition: all 150ms ease-in-out;
  border: none;
}
.fahrenheit-link:hover {
  background: rgb(193, 247, 247);
  color: black;
  cursor: pointer;
}

.celcius-link {
  font-weight: 100;
  transition: all 150ms ease-in-out;
  border: none;
}
.celsius-link:hover {
  background: rgb(193, 247, 247);
  color: black;
  cursor: pointer;
}
h3 {
  line-height: 25px;
  font-family: sans-serif;
  margin: 10px auto 30px;
}

.cardbody {
  text-align: center;
  border: solid;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.cardbody:hover {
  background: rgb(193, 247, 247);
  background-size: 5px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.day {
  text-align: center;
  font-size: large;
  font-weight: 900;
  border-radius: 5px;
}
.temperature {
  text-align: center;
  font-size: medium;
  font-weight: 700;
}
.temperature:hover {
  background: rgb(86, 188, 206);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.icons {
  padding: 10px;
  font-size: xx-large;
}
.icons-current {
  font-size: 70px;
}

.card-body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 30px;
  background-color: rgb(227, 248, 250);
  border: solid;
  border-width: 4px;
  border-radius: 20%;
}
.cardbody1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}
ul li {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
  font-family: monospace;
  display: block;
  margin: 0 auto;
}

.card {
  width: 230px;
  margin: 30px 0;
  text-align: center;
}
.footer {
  text-align: center;
  margin: auto 0 5px;
}
